@charset "UTF-8";


html{
    background-color: rgb(154, 153, 186);
    color: rgb(34, 32, 93);
    font-family: serif, Century, "Century Gothic";
}



h1{
    font-size:xx-large;
}

h2{
    font-size:x-large;
}

h3{
    font-size:large;
}

